src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:mongooplogcursor="http://www.mulesoft.org/schema/mule/mongooplogcursor"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/mongooplogcursor http://www.mulesoft.org/schema/mule/mongooplogcursor/1.0-SNAPSHOT/mule-mongooplogcursor.xsd">

    <mongooplogcursor:config name="mongoDB_Tailable_Cursor" doc:name="Mongo Tailable Cursor" 
                             servers="localhost:27001,localhost:27002,localhost:27003" logLastTimestamp="false" />

    <flow name="testFlow">
        <mongooplogcursor:oplog-cursor namespace="sample.namespace" monitorInserts="true" monitorUpdates="true" />
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>

</mule>
